{% extends "layout.html" %}
{% block title %}
    <title>
        Participate
    </title>
{% endblock %}

{% block main %}
<form action = "/participate" method = "POST">
    <div>
    <h2 class = "question">{{arr[3]}}</h2>
    </div>
    {% for i in range(n) %}
        <div>
            <input type="radio" name="option" value = "{{i + 1}}" required>{{arr[i + 4]}}
        </div>
    {% endfor %}
    <div>
        <button id="final" type="submit" name="submit" value="{{arr[0]}}" >Submit</button>
    </div>
</form>
{% endblock %}
