<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Welcome - Online Polling System</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='l2/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/l2/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/l2/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="static/l2/assets/css/owl.css">
    <link rel="stylesheet" href="static/l2/assets/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body onload="getRandomImage()">

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Online Polling System
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/login">Login</a></li>
                          <li><a href="/register">Register</a></li>
                      </ul>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Here are our upcoming meetings</h6>
          <h2>Upcoming Meetings</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All Meetings</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$14.00</span>
                      </div>
                      <a href="meeting-details.html">
                        <span id="result1"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>New Lecturers Meeting</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$14.00</span>
                      </div>
                      <a href="meeting-details.html">
                        <span id="result2"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Online Teaching Techniques</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$14.00</span>
                      </div>
                      <a href="meeting-details.html">
                        <span id="result3"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Network Teaching Concept</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$14.00</span>
                      </div>
                      <a href="meeting-details.html">
                        <span id="result4"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Online Teaching Tools</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html">
                        <span id="result5"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>New Teaching Techniques</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html">
                        <span id="result6"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Technology Conference</h4></a>
                      <p>TemplateMo is the best website.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html">
                        <span id="result7"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Online Teaching Techniques</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html">
                        <span id="result8"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Instant Lecture Design</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html">
                        <span id="result9"> </span>
                      </a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Online Social Networking</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Online Polling System, Ltd. All Rights Reserved</p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/l2/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/l2/assets/css/fontawesome.css') }}">
    <script src="static/l2/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="static/l2/assets/js/isotope.min.js"></script>
    <script src="static/l2/assets/js/owl-carousel.js"></script>
    <script src="static/l2/assets/js/lightbox.js"></script>
    <script src="static/l2/assets/js/tabs.js"></script>
    <script src="static/l2/assets/js/isotope.js"></script>
    <script src="static/l2/assets/js/video.js"></script>
    <script src="static/l2/assets/js/slick-slider.js"></script>
    <script src="static/l2/assets/js/custom.js"></script>
    <script>
        window.onload = getRandomImage;
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
<script>
  function getRandomImage() {
        var randomImage = new Array();
        var num = new Array();
        for(var i=0;i<9;i++)
        {
            num[i] = 0;
        }

        randomImage[0] = "static/l2/assets/images/meeting-01.jpg";
        randomImage[1] = "static/l2/assets/images/meeting-02.jpg";
        randomImage[2] = "static/l2/assets/images/meeting-03.jpg";
        randomImage[3] = "static/l2/assets/images/meeting-04.jpg";
        randomImage[4] = "static/l2/assets/images/meeting-01.jpg";
        randomImage[5] = "static/l2/assets/images/meeting-02.jpg";
        randomImage[6] = "static/l2/assets/images/meeting-03.jpg";
        randomImage[7] = "static/l2/assets/images/meeting-04.jpg";
        randomImage[8] = "static/l2/assets/images/meeting-01.jpg";

        var number1 = Math.floor(Math.random()*randomImage.length);
        while(num[number1] == 1)
        {
           number1 = Math.floor(Math.random()*randomImage.length);
        }
        num[number1] = 1;
        var number2 = Math.floor(Math.random()*randomImage.length);
        while(num[number2] == 1)
        {
           number2 = Math.floor(Math.random()*randomImage.length);
        }
        num[number2] = 1;
        var number3 = Math.floor(Math.random()*randomImage.length);
        while(num[number3] == 1)
        {
           number3 = Math.floor(Math.random()*randomImage.length);
        }
        num[number3] = 1;
        var number4 = Math.floor(Math.random()*randomImage.length);
        while(num[number4] == 1)
        {
           number4 = Math.floor(Math.random()*randomImage.length);
        }
        num[number4] = 1;
        var number5 = Math.floor(Math.random()*randomImage.length);
        while(num[number5] == 1)
        {
           number5 = Math.floor(Math.random()*randomImage.length);
        }
        num[number5] = 1;
        var number6 = Math.floor(Math.random()*randomImage.length);
        while(num[number6] == 1)
        {
           number6 = Math.floor(Math.random()*randomImage.length);
        }
        num[number6] = 1;
        var number7 = Math.floor(Math.random()*randomImage.length);
        while(num[number7] == 1)
        {
           number7 = Math.floor(Math.random()*randomImage.length);
        }
        num[number7] = 1;
        var number8 = Math.floor(Math.random()*randomImage.length);
        while(num[number8] == 1)
        {
           number8 = Math.floor(Math.random()*randomImage.length);
        }
        num[number8] = 1;
        var number9 = Math.floor(Math.random()*randomImage.length);
        while(num[number9] == 1)
        {
           number9 = Math.floor(Math.random()*randomImage.length);
        }
        num[number9] = 1;

        console.log(number1);
        console.log(number2);
        console.log(number3);
        console.log(number4);
        console.log(number5);
        console.log(number6);
        console.log(number7);
        console.log(number8);
        console.log(number9);
        document.getElementById("result1").innerHTML = '<img src="'+randomImage[number1]+'" />';
        document.getElementById("result2").innerHTML = '<img src="'+randomImage[number2]+'" />';
        document.getElementById("result3").innerHTML = '<img src="'+randomImage[number3]+'" />';
        document.getElementById("result4").innerHTML = '<img src="'+randomImage[number4]+'" />';
        document.getElementById("result5").innerHTML = '<img src="'+randomImage[number5]+'" />';
        document.getElementById("result6").innerHTML = '<img src="'+randomImage[number6]+'" />';
        document.getElementById("result7").innerHTML = '<img src="'+randomImage[number7]+'" />';
        document.getElementById("result8").innerHTML = '<img src="'+randomImage[number8]+'" />';
        document.getElementById("result9").innerHTML = '<img src="'+randomImage[number9]+'" />';
  }
</script>
</html>
